#logo{
    height:35px ;
}


body{
    background-image: url('/UCABMART/img/login-fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#uno{
    background-image: url('/UCABMART/img/main-fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 500px;
    padding: 10%;
}

#dos{
    background-image: url('/UCABMART/img/estante.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 500px;
    padding: 10%;
}
#tres{
    background-image: url('/UCABMART/img/electrodomesticos.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 500px;
    padding: 10%;
}
#cuatro{
    background-image: url('/UCABMART/img/carnes.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 500px;
    padding: 10%;
}



.slogan{
    background-color: #5d4037 !important;
    opacity: 0.85;
    align-self: center;
    color: white;
    padding:4% ;
}
#tiendas{
    background-color: white;
    padding: 1.5%;
    min-height: 500px;
}
#notimart{
    background-color: white;
    padding: 1.5%;
    min-height: 500px;
}

.formulario{
    background-color: white !important;
}
.formularioCont{
    padding: 5%;
}
.navbarLink a{
    font-size: 1px;
}

#fondoLogin{
    background-image: url('/UCABMART/img/fondo-login.jpg');
    background-repeat: repeat;
    background-size: 100% 100%;
    z-index: 20;
    padding: 4.5%;

}

.tituloLogin{
    color: #eeeeee;
    text-overflow: clip;
    font-weight: 300;
    text-align: center;
}

#formLogin{
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
    background: hsl(11, 26%, 24%, .7);
    
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
#formLogin input {
    color: white !important;
}
#formLoginContenedor{
    display: flex;
    justify-content: center;
}

#productosContainer{
    background-color: white !important;
    padding: 5%;
}

#mobile-nav a{
    color: white;
}

.error{
    color: red;
}

#inventarioCont{
    padding: 5%;
}

.imagenProducto{
    height: 60%;
}

